<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nimo TV Gala</title>
  <meta name="description" content="Nimo TV Gala Invitation">
  <meta name="og:description" content="Nimo TV Gala Invitation">
  <meta name="og:image" content="https://nimotvgala.com/assets/img/logo-gala-square.png">

  <link rel="icon" type="image/x-ong" href="assets/img/favicon.png">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://kit.fontawesome.com/f9e68e22aa.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
  <script src="assets/js/tabs.js"></script>
  <script src="assets/js/countdown.js"></script>
</head>
<body>
  <div id="app">    
    <div id="template">
      <div class="container">
        <div
          id="invitation-cover"
          :class="{ opened }"
          style="background-image: url('assets/img/cover/cover-background.jpg');"
        >
          <img
            src="assets/img/logo-gala.png"
            alt="cover"
            class="cover-logo"
            data-aos="fade-in"
          >
          <img
            src="assets/img/cover/guest-box.png"
            alt="cover"
            class="cover-guest-box"
            data-aos="fade-up"
            data-aos-delay="1000"
          >
          <div class="cover-target" data-aos="fade-in" data-aos-delay="2000">
            <p class="text-gradient">{{ guestName }}</p>
          </div>
          <img
            src="assets/img/cover/cover-date.png"
            alt="cover"
            class="cover-date"
            data-aos="fade-in"
            data-aos-delay="2500"
            :data-aos-offset="-500"
          >
          <div class="w-full">
            <button class="cover-button" @click="open">Open Invitation</button>
          </div>
          <!-- <img
            src="assets/img/cover/social-media.png"
            alt="cover"
            class="cover-social-media"
          > -->
        </div>
        <div v-if="opened">
          <div id="invitation-opening" class="text-secondary" align="center">
            <div>
              <img src="assets/img/opening/opening-box.png" alt="opening-box" class="opening-box">
              <div class="opening-content">
                <img
                  src="assets/img/logo-gala.png"
                  alt="opening-box-logo"
                  class="opening-logo mb-4"
                >
                <p class="opening-title text-gradient">
                  CONGRATULATIONS!
                </p>
                <div class="opening-subtitle mt-2">
                  <p class="text-gradient">
                    You are invited to
                  </p>
                  <p class="text-gradient">
                    A new rise of entertainment has begun!
                  </p>
                </div>
                <div class="opening-details">
                  <img
                    src="assets/img/opening/opening-cheers.png"
                    alt="opening-chhers"
                    class="opening-cheers mb-4"
                  >
                  <p>
                    NIMO TV Gala 2023 is flying back to you
                    and now coming to Bali this year! and we
                    are happy you are the part of our celebration.
                  </p>
                </div> 
              </div>
            </div>
            <!-- <img
              src="assets/img/opening/opening-light.png"
              alt="opening-light"
              class="opening-light"
            > -->
          </div>
          <img src="assets/img/venue.jpg" alt="venue" class="w-full">
          <div class="venue-maps" align="center">
            <a href="https://goo.gl/maps/yubJTMKng6r2AWr2A" target="_blank">
              <button class="btn btn-primary btn-action">
                Open Maps
              </button>
            </a>
          </div>
          <img src="assets/img/dresscode.jpg" alt="dresscode" class="w-full">
          <div class="performance" align="center">
            <h2 class="performance-title text-gradient mb-4">
              Gala Celebration
            </h2>
            <div class="performance-list performance-host">
              <h3 class="text-gradient">HOST OF THE NIGHT</h3>
              <div class="flex justify-between">
                <img src="assets/img/mc/mc-1.png" alt="host">
                <img src="assets/img/mc/mc-2.png" alt="host">
              </div>
            </div>
            <div class="performance-list">
              <h3 class="text-gradient">SPECIAL DANCE & PERCUSSION PERFORMANCE</h3>
              <img src="assets/img/performance/performance-1.png" alt="performance">
              <img src="assets/img/performance/performance-2.png" alt="performance">
            </div>
            <div class="performance-list">
              <h3 class="text-gradient">Enjoy the dinner accompanied with live acoustic band</h3>
              <img src="assets/img/performance/performance-3.png" alt="performance">
            </div>
            <div class="performance-list">
              <h3 class="text-gradient">A night to remember<br>with DJ Grey</h3>
              <img src="assets/img/performance/performance-4.png" alt="performance">
            </div>
          </div>
          <img src="assets/img/flowtrip.jpg" alt="flowtrip" class="w-full">
          <div class="counting-text" align="center">
            <h2 class="text-gradient">COUNTING DAYS</h2>
            <p class="text-gradient">SEE YOU THERE!</p>
            <div class="countdown" data-date="2023-02-22" data-time="17:00">
              <div class="day"><span class="num"></span><span class="word"></span></div>
              <div class="hour"><span class="num"></span><span class="word"></span></div>
              <div class="min"><span class="num"></span><span class="word"></span></div>
              <div class="sec"><span class="num"></span><span class="word"></span></div>
            </div>
            <div class="flex justify-center flex-wrap mt-4">
              <a href="https://www.instagram.com/nimotv_id/" target="_blank">
                <img src="assets/img/icons/instagram.png" alt="instagram">
                Nimo TV
              </a>
              <a href="https://www.instagram.com/nimoliveshow_id/" target="_blank">
                <img src="assets/img/icons/instagram.png" alt="instagram">
                Nimo TV Liveshow
              </a>
            </div>
          </div>
          <img src="assets/img/closing.jpg" alt="flowtrip" class="w-full">
        </div>
      </div>
    </div>

    <div id="invitation-action" :class="{ hide: hideAction }">
      <div class="action-container">
        <div
          class="attendance-wrapper"
          :class="{ active: wrapper.attendance }"
          align="center"
        >
          <div class="attendance-container">
            <div class="w-full text-right">
              <i
                class="fa-regular fa-circle-xmark btn-close"
                role="button"
                @click="wrapper.attendance = false"
              ></i>
            </div>
            <div class="tab-container">
              <div class="tabs">
                <span class="tab active">RSVP</span>
                <span class="tab">Wishes</span>
              </div>
              <div class="tab-panes">
                <div class="tab-pane active">
                  <div v-if="!guestResponse" class="py-4">
                    <h3 class="mb-6">
                      Each person will get each unique QR Code.
                    </h3>
                    <div class="form-group">
                      <label>Name</label>
                      <input
                        v-model="guest.name"
                        class="mt-2"
                        placeholder="Write your full name"
                        required
                        type="text"
                      />
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input
                        v-model="guest.email"
                        class="mt-2"
                        placeholder="Write your email"
                        required
                        type="email"
                      />
                    </div>
                    <div class="form-group">
                      <label>WA Number</label>
                      <input
                        v-model="guest.phone"
                        class="mt-2"
                        placeholder="Write your WA Number"
                        required
                      />
                    </div>
                    <div
                      v-if="guest.attendance_status && guestCategories.data.length > 0"
                    >
                      <p>Choose Guest Category</p>
                      <ul class="tag" style="margin-top: 0.5rem">
                        <li
                          v-for="category in guestCategories.data"
                          :key="category.id"
                          :class="{ active: guest.category == category.id }"
                          @click="guest.category = category.id"
                        >
                          {{ category.name }}
                        </li>
                      </ul>
                      <!-- <p class="text-gray-500 mt-2">
                        Kategori memudahkan kamu untuk mendapatkan meja pada saat hari
                        pernikahan.
                      </p> -->
                    </div>
                    <div class="form-group">
                      <label>Wishes for Nimo TV</label>
                      <textarea
                        v-model="guest.message"
                        class="mt-2"
                        placeholder="Write your wishes for Nimo TV"
                        rows="5"
                        required
                      ></textarea>
                    </div>
                    <div class="mt-4">
                      <button
                        class="btn btn-primary btn-action w-full"
                        :disabled="loading"
                        @click="attendWedding"
                      >
                        Attend
                      </button>
                    </div>
                  </div>
                  <div v-else class="info">
                    <div class="check-icon">
                      <i class="el-icon-check"></i>
                    </div>
                    <div class="text-center">
                      <p class="mb-2">
                        You are successfully register to Nimo TV Gala 2022.
                        Save this QR Code to attend the event!
                      </p>
                      <img
                        :src="guestResponse.qr_code_url"
                        alt="Undangan Pernikahan Digital"
                        class="qr-code"
                      />
                    </div>
                    <!-- <button
                      class="btn btn-primary btn-submit"
                      @click="downloadResource(guestResponse.qr_code_url)"
                    >
                      Simpan QR Code
                    </button> -->
                  </div>
                </div>
                <div class="tab-pane">
                  <h3>All Wishes</h3>
                  <div class="user-comments">
                    <div
                      v-for="comment in comments.data"
                      :key="comment.id"
                      class="comment-container"
                    >
                      <div class="content">
                        <p class="font-semibold">
                          {{ comment.name }}
                        </p>
                        <p class="mt-1">
                          {{ comment.content }}
                        </p>
                      </div>
                    </div>
                    <div
                      v-if="
                        comments.last_page != 1 && comments.current_page != comments.last_page
                      "
                      class="load-more"
                      @click="loadMoreComments"
                    >
                      Lihat lebih banyak
                      <i
                        class="el-icon-arrow-down"
                        style="position: relative; top: 2px; margin-left: 5px"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="btn btn-primary btn-action"
          style="padding-left: 60px; padding-right: 60px"
          :disabled="loading"
          @click="openAttendanceWrapper"
        >
          Attend
        </button>
      </div>
    </div>
  </div>

  <script>
    const { createApp } = Vue

    const API_BASE_URL = 'https://api.hummingbird.id/api'
    const API_PATH = {
      GUEST_CATEGORY: 'guest-category',
      COMMENT: 'comment',
      WEDDING: 'wedding',
      WEDDING_GUEST: 'wedding-guest',
      WEDDING_GUEST_CATEGORY: 'wedding-guest-category',
    }
    const CODE = 'WED-216131432'

    createApp({
      data() {
        return {
          active: true,
          opened: true,
          wrapper: {
            attendance: false,
          },
          guest: {
            name: '',
            email: '',
            phone: '',
            category: null,
            user_id: null,
            attendance_status: true,
            description: null,
            message: ''
          },
          comments: {
            data: [],
          },
          loading: false,
          guestResponse: null,
          guestCategories: {
            data: [],
          },
          guestName: 'Guest',
          hideAction: true,
        }
      },
      created() {
        if (!this.active) {
          this.guestResponse = {
            qr_code_url: 'https://hummingbird-storage.is3.cloudhost.id/qr-codes/weddings/WED-216131432/1675776515.png',
          }
        }
        this.getAllGuestCategories()
        this.getAllComments()

        const query = this.getQueryParams()
        if (query.to) {
          this.guestName = this.decodeQueryParams(query)
        }
        this.guest.name = this.guestName
      },
      mounted() {
        AOS.init({
          duration: 1500
        })
        tabs(document.querySelector('.tab-container'))
        window.addEventListener('scroll', this.handleScroll)
      },
      destroyed() {
        window.removeEventListener('scroll', this.handleScroll)
      },
      methods: {
        open() {
          this.opened = true
          this.$emit('opened')
          
          setTimeout(() => {
            new countdown({
              target: '.countdown',
              dayWord: ' days',
              hourWord: ' hours',
              minWord: ' minutes',
              secWord: ' seconds'
            });
          }, 1000);
        },
        getQueryParams() {
          return new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
          })
        },
        decodeQueryParams(query) {
          let result = query.to.replace(/-/g, ' ')
          const queryKeys = Object.keys(query)

          if (queryKeys.length > 1) {
            const partner = queryKeys[1].replace(/-/g, ' ')
            result += ` & ${partner}`
          }

          return result.replace(/\s\s+/g, ' ')
        },
        handleScroll() {
          const totalHeight = document.documentElement.scrollHeight
          const currentScroll = document.documentElement.scrollTop

          if (currentScroll < 500 || totalHeight - 1000 < currentScroll) {
            this.hideAction = true
          } else {
            this.hideAction = false
          }
        },
        scrollToMessages() {
          this.$scrollTo('#guest-messages')
        },
        forceDownload(blob, filename) {
          const a = document.createElement('a')
          a.download = filename
          a.href = blob
          document.body.appendChild(a)
          a.click()
          a.remove()
        },
        downloadResource(url, filename) {
          if (!filename) filename = url.split('\\').pop().split('/').pop()
          axios(url, {
            headers: new Headers({
              Origin: location.origin,
            }),
          })
            .then((response) => response.blob())
            .then((blob) => {
              const blobUrl = window.URL.createObjectURL(blob)
              this.forceDownload(blobUrl, filename)
            })
        },
        openAttendanceWrapper() {
          this.wrapper.attendance = true
        },
        async getAllComments(page = 1, init = true) {
          try {
            const response = await axios.get(
              `${API_BASE_URL}/${API_PATH.WEDDING}/${CODE}/${API_PATH.COMMENT}?page=${page}&sort_by=id&sort_direction=desc`
            )
            if (init) {
              this.comments = response.data
            } else {
              response.data.data.forEach((e) => {
                this.comments.data.push(e)
              })
              const temp = this.comments.data
              this.comments = response.data
              this.comments.data = temp
            }
          } catch (err) {
            //
          }
        },
        async loadMoreComments() {
          const page = this.comments.current_page + 1
          await this.getAllComments(page, false)
        },
        async getAllGuestCategories() {
          try {
            const response = await axios.get(
              `${API_BASE_URL}/${API_PATH.WEDDING}/${CODE}/${API_PATH.GUEST_CATEGORY}`
            )
            this.guestCategories = response.data
          } catch (err) {
            //
          }
        },
        async attendWedding() {
          if (this.guestResponse) return
          this.loading = true

          const payload = {
            wedding_code: CODE,
            description: this.guest.description,
            attendance_status: this.guest.attendance_status,
            name: this.guest.name,
            email: this.guest.email,
            phone: this.guest.phone,
            message: this.guest.message,
            user_id: this.guest.user_id,
            category_id: this.guest.category,
          }

          if (this.guest.attendance_status) {
            this.guest.description = null
          } else {
            this.guest.category_id = null
          }

          try {
            const response = await axios.post(
              `${API_BASE_URL}/${API_PATH.WEDDING_GUEST}`,
              payload
            )
            this.guestResponse = response.data
            setTimeout(() => {
              this.loading = false
            }, 2000)
          } catch (err) {
            iziToast.error({
              title: 'Error',
              message: 'Terjadi kesalahan. Silahkan ulangi beberapa saat lagi'
            })
          }

          this.getAllComments()
          this.loading = false
        },
      },
    }).mount('#app')
  </script>
</body>
</html>