$font-size: 16px;
$qr-wrapper-height: 450px;

$container-width: 380px;
$color-theme: #0E0610;
$color-primary: #F9DE9D;
$color-secondary: #FAEFDC;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

body {
  background-color: $color-theme;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.py-4 {
  margin: 1rem auto;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.font-semibold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.form-group {
  margin-bottom: 20px;
}

label {
  padding-bottom: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 10px 12px;
}

button {
  border: none;
  padding: 12px 15px;
  cursor: pointer;
  font-weight: 600;
}

.bg-theme {
  background-color: $color-theme;
}

.text-primary {
  color: $color-primary;

  p {
    color: $color-primary;
  }
}

.text-secondary {
  color: $color-secondary;

  p {
    color: $color-secondary;
  }
}

.text-gradient {
  color: $color-primary;
  background: linear-gradient(to right, $color-secondary, $color-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}

#template {
  min-height: 100vh;
}

/* Invitation cover */

#invitation-cover {
  text-align: center;
  overflow: hidden;
  position: relative;
  color: white;
  letter-spacing: 1;
  height: 100vh;
  opacity: 1;
  transition: all 2000ms;
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  &.opened {
    height: 0;
    padding: 0;
  }

  .cover {
    img {
      margin: 0 auto;
    }

    &-logo {
      width: 72%;
    }

    &-guest-box {
      width: 90%;
      margin: 56px auto 16px auto;
    }

    &-date {
      width: 200px;
    }

    &-target {
      position: absolute;
      overflow: hidden;
      width: 208px;
      top: 425px;
      left: 88px;
      text-align: center;

      @media (max-width: 330px) {
        top: 390px;
        left: 68px;
      }
      
      p {
        font-size: 24px;
      }
    }

    &-social-media {
      margin-top: 40px;
      width: 70%;
    }

    &-button {
      background: transparent;
      text-align: center;
      color: $color-primary;
      border: 1px solid $color-primary;
      margin: 1rem auto;
      padding: 10px 50px;
      letter-spacing: 1px;
      transition: all 300ms;

      &:hover {
        background-color: $color-primary;
        color: $color-theme;
      }
    }
  }
}

.btn-action {
  background-color: $color-secondary;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #ddd;
  font-size: 18px;
  color: $color-theme !important;
  padding: 12px 30px;
  letter-spacing: 1px;

  &.large {
    font-size: 20px;
  }

  &.lite {
    background: transparent;
  }
}

/* Invitation action */
#invitation-action {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  transition: opacity 300ms;

  &.hide {
    opacity: 0;
    pointer-events: none;
    position: absolute
  }

  .action-container {
    display: flex;
    justify-content: center;
    padding: 0.6rem;
    right: 0;
    bottom: 0;
  }

  .attendance-wrapper {
    box-shadow: 0px 0px 10px #ddd;
    height: $qr-wrapper-height;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: -$qr-wrapper-height;
    background-color: #fff;
    overflow-x: hidden;
    padding: 1rem 500px;
    transition: 0.5s;

    @media (max-width: 1200px) {
      padding: 1.5rem;
    }

    .attendance-container {
      text-align: left;
      max-width: 768ox;

      * {
        font-family: 'Roboto', sans-serif;
      }
    }

    &.active {
      bottom: 0;
    }

    .btn-close {
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.5);
      transition: all 300ms;
      cursor: pointer;
      &:hover {
        color: #000;
      }
    }

    .info {
      padding-bottom: 20px;
    }

    .check-icon {
      margin-top: 2rem;
      font-size: 50px;
    }

    .btn-submit {
      width: 100%;
    }
  }
}

img.qr-code {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
  #invitation-action {
    .attendance-wrapper {
      .btn-close {
        font-size: 1.5rem;
      }
    }
  }
}

#invitation-opening {
  background-image: url('../img/opening/opening-background.jpg');
  background-position: center;
  background-size: cover;
  padding: 4rem 0;
  position: relative;

  .opening {
    &-box {
      width: 90%;
      margin: 0 auto;
      position: relative;
      z-index: 99;
    }

    &-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      padding: 6.5rem 3rem;
      z-index: 999;
    }

    &-logo {
      width: 50%;
      margin: 0 auto 24px auto;
    }

    &-title {
      font-size: 40px;
    }

    &-subtitle {
      line-height: 1.2;

      p {
        font-size: 22px;
      }
    }

    &-details {
      // border-bottom: 1px solid $color-secondary;
      max-width: 270px;
      margin: 2rem auto 0 auto;
      padding-bottom: 2rem;

      p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: $font-size - 4;
        letter-spacing: .5px;
        line-height: 1.5;
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-cheers {
      width: 20%;
    }

    &-light {
      position: absolute;
      bottom: -100px;
      right: 0;
      width: 270px;
    }
  }
}

ul.tag {
  margin-top: .5rem;
  margin-bottom: 1rem;

  li {
    margin-top: .5rem;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    background-color: white;
    border: 2px solid $color-theme;
    border-radius: 25px;
    margin-right: 10px;
    transition: all 300ms;
    font-size: 14px;

    &.basic {
      background-color: #ddd;
      border: none;
    }

    &.active {
      background-color: $color-theme;
      color: white;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.venue {
  &-maps {
    margin-top: .5rem;
    margin-bottom: 2rem;
  }
}

.counting {
  &-text {
    padding-top: 40px;
    padding-bottom: 40px;

    * {
      letter-spacing: 1px;
    }

    h2 {
      font-size: 32px;
    }

    p {
      font-family: 'Roboto', sans-serif;
    }

    .flex {
      margin-top: 2rem;
      
      * {
        color: white;
      }

      a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        border: 1px solid white;
        width: 55%;
        padding: 12px 10px;
        margin-bottom: 10px;
        border-radius: 30px;
      }

      img {
        width: 20px;
        margin-right: .5rem;
      }

      p {
        text-align: center;
      }
    }
  }
}

.tab-container {
  width: 100%;
}

.tabs {
  height: 30px;
  line-height: 30px;

  .tab {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    text-align: center;
  }

  .active {
    background-color: #efefef
  }
}

.tab-panes {
  .tab-pane {
    border: 1px solid #333333;
    width: 100%;
    padding: 20px;
    display: none
  }

  .active{
    display: block
  }
}


.user-comments {
  margin-top: 12px;
  padding-top: 16px;
  border-top: 1px solid #ddd;

  .content {
    margin-bottom: 16px;
  }
  
  .load-more {
    color: #c7c7c7;
    transition: all 300ms;
    margin-bottom: 1rem;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
}

.countdown {
  width: 85%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

  .day, .hour, .min, .sec {
    color: $color-secondary;
    width: 150px;
    text-align: center;

    
    .num {
      display: block;
      font-size: 3.5vw;
      font-weight: 300;
      line-height: 1em;

      @media (max-width: 768px) {
        font-size: 10vw;
      }
    }

    .word {
      display: block;
      margin-top: 10px;
      font-size: 1.2vw;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 4vw;
      }
    }
  }
}

.performance {
  position: relative;
  padding: 50px 20px 0 20px;
  background-image: url('../img/performance/performance-background.jpg');
  background-position: center;
  background-size: cover;

  img {
    width: 90%;
    margin: 24px auto 0 auto;
  }

  &-title {
    font-size: 40px;
  }

  &-list {
    padding: 30px 0;

    &-info {
      margin-top: 1rem;
      font-size: 20px;
    }
  }
  
  &-host {
    img {
      width: 46%;
    }
  }

  h3 {
    font-size: 24px;
    max-width: 300px;
  }
}