* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

body {
  background-color: #0E0610;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.py-4 {
  margin: 1rem auto;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.form-group {
  margin-bottom: 20px;
}

label {
  padding-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 10px 12px;
}

button {
  border: none;
  padding: 12px 15px;
  cursor: pointer;
  font-weight: 600;
}

.bg-theme {
  background-color: #0E0610;
}

.text-primary {
  color: #F9DE9D;
}

#template {
  min-height: 100vh;
}

/* Invitation cover */
#invitation-cover {
  text-align: center;
  overflow: hidden;
  position: relative;
  color: white;
  letter-spacing: 1;
  height: 100vh;
  opacity: 1;
  transition: all 2000ms;
}
#invitation-cover.opened {
  height: 0;
}
#invitation-cover .cover-target {
  position: absolute;
  overflow: hidden;
  width: 195px;
  top: 405px;
  left: 78px;
  text-align: center;
}
#invitation-cover .cover-target p {
  font-size: 22px;
  color: #F9DE9D;
  background: linear-gradient(to right, #FAEFDC, #F9DE9D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#invitation-cover .cover-button {
  background: transparent;
  text-align: center;
  color: #F9DE9D;
  border: 1px solid #F9DE9D;
  margin: 1rem auto;
  padding: 10px 50px;
}

/* Invitation action */
#invitation-action {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  transition: opacity 300ms;
}
#invitation-action.hide {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
#invitation-action .action-container {
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  right: 0;
  bottom: 0;
}
#invitation-action .btn-action {
  background-color: #FAEFDC;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #ddd;
  font-size: 18px;
  color: #0E0610 !important;
}
#invitation-action .btn-action.lite {
  background: transparent;
}
#invitation-action .attendance-wrapper {
  box-shadow: 0px 0px 10px #ddd;
  height: 450px;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: -450px;
  background-color: #fff;
  overflow-x: hidden;
  padding: 1rem 500px;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  #invitation-action .attendance-wrapper {
    padding: 1.5rem;
  }
}
#invitation-action .attendance-wrapper .attendance-container {
  text-align: left;
  max-width: 768ox;
}
#invitation-action .attendance-wrapper .attendance-container * {
  font-family: "Roboto", sans-serif;
}
#invitation-action .attendance-wrapper.active {
  bottom: 0;
}
#invitation-action .attendance-wrapper .btn-close {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  transition: all 300ms;
  cursor: pointer;
}
#invitation-action .attendance-wrapper .btn-close:hover {
  color: #000;
}
#invitation-action .attendance-wrapper .info {
  padding-bottom: 20px;
}
#invitation-action .attendance-wrapper .check-icon {
  margin-top: 2rem;
  font-size: 50px;
}
#invitation-action .attendance-wrapper .btn-submit {
  width: 100%;
}

img.qr-code {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
  #invitation-action .attendance-wrapper .btn-close {
    font-size: 1.5rem;
  }
}
ul.tag {
  margin-top: 0.5rem;
}
ul.tag li {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  background-color: white;
  border: 2px solid #0E0610;
  border-radius: 25px;
  margin-right: 10px;
  transition: all 300ms;
  font-size: 14px;
}
ul.tag li.basic {
  background-color: #ddd;
  border: none;
}
ul.tag li.active {
  background-color: #0E0610;
  color: white;
}
ul.tag li:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=main.css.map */
