* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

body {
  background-color: #0E0610;
}

.container {
  max-width: 380px;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.py-4 {
  margin: 1rem auto;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.font-semibold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.form-group {
  margin-bottom: 20px;
}

label {
  padding-bottom: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 10px 12px;
}

button {
  border: none;
  padding: 12px 15px;
  cursor: pointer;
  font-weight: 600;
}

.bg-theme {
  background-color: #0E0610;
}

.text-primary {
  color: #F9DE9D;
}
.text-primary p {
  color: #F9DE9D;
}

.text-secondary {
  color: #FAEFDC;
}
.text-secondary p {
  color: #FAEFDC;
}

.text-gradient {
  color: #F9DE9D;
  background: linear-gradient(to right, #FAEFDC, #F9DE9D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}

#template {
  min-height: 100vh;
}

/* Invitation cover */
#invitation-cover {
  text-align: center;
  overflow: hidden;
  position: relative;
  color: white;
  letter-spacing: 1;
  height: 100vh;
  opacity: 1;
  transition: all 2000ms;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
#invitation-cover.opened {
  height: 0;
  padding: 0;
}
#invitation-cover .cover img {
  margin: 0 auto;
}
#invitation-cover .cover-logo {
  width: 72%;
}
#invitation-cover .cover-guest-box {
  width: 90%;
  margin: 56px auto 16px auto;
}
#invitation-cover .cover-date {
  width: 200px;
}
#invitation-cover .cover-target {
  position: absolute;
  overflow: hidden;
  width: 208px;
  top: 425px;
  left: 88px;
  text-align: center;
}
@media (max-width: 330px) {
  #invitation-cover .cover-target {
    top: 390px;
    left: 68px;
  }
}
#invitation-cover .cover-target p {
  font-size: 24px;
}
#invitation-cover .cover-social-media {
  margin-top: 40px;
  width: 70%;
}
#invitation-cover .cover-button {
  background: transparent;
  text-align: center;
  color: #F9DE9D;
  border: 1px solid #F9DE9D;
  margin: 1rem auto;
  padding: 10px 50px;
  letter-spacing: 1px;
  transition: all 300ms;
}
#invitation-cover .cover-button:hover {
  background-color: #F9DE9D;
  color: #0E0610;
}

.btn-action {
  background-color: #FAEFDC;
  border-radius: 30px;
  box-shadow: 0px 0px 10px #ddd;
  font-size: 18px;
  color: #0E0610 !important;
  padding: 12px 30px;
}
.btn-action.lite {
  background: transparent;
}

/* Invitation action */
#invitation-action {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  transition: opacity 300ms;
}
#invitation-action.hide {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
#invitation-action .action-container {
  display: flex;
  justify-content: center;
  padding: 0.6rem;
  right: 0;
  bottom: 0;
}
#invitation-action .attendance-wrapper {
  box-shadow: 0px 0px 10px #ddd;
  height: 450px;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: -450px;
  background-color: #fff;
  overflow-x: hidden;
  padding: 1rem 500px;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  #invitation-action .attendance-wrapper {
    padding: 1.5rem;
  }
}
#invitation-action .attendance-wrapper .attendance-container {
  text-align: left;
  max-width: 768ox;
}
#invitation-action .attendance-wrapper .attendance-container * {
  font-family: "Roboto", sans-serif;
}
#invitation-action .attendance-wrapper.active {
  bottom: 0;
}
#invitation-action .attendance-wrapper .btn-close {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  transition: all 300ms;
  cursor: pointer;
}
#invitation-action .attendance-wrapper .btn-close:hover {
  color: #000;
}
#invitation-action .attendance-wrapper .info {
  padding-bottom: 20px;
}
#invitation-action .attendance-wrapper .check-icon {
  margin-top: 2rem;
  font-size: 50px;
}
#invitation-action .attendance-wrapper .btn-submit {
  width: 100%;
}

img.qr-code {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
  #invitation-action .attendance-wrapper .btn-close {
    font-size: 1.5rem;
  }
}
#invitation-opening {
  background-image: url("../img/opening/opening-background.jpg");
  background-position: center;
  background-size: cover;
  padding: 4rem 0;
  position: relative;
}
#invitation-opening .opening-box {
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}
#invitation-opening .opening-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  padding: 6.5rem 3rem;
  z-index: 999;
}
#invitation-opening .opening-logo {
  width: 50%;
  margin: 0 auto 24px auto;
}
#invitation-opening .opening-title {
  font-size: 40px;
}
#invitation-opening .opening-subtitle {
  line-height: 1.2;
}
#invitation-opening .opening-details {
  border-bottom: 1px solid #FAEFDC;
  max-width: 250px;
  margin: 4.5rem auto 0 auto;
  padding-bottom: 2rem;
}
#invitation-opening .opening-details p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
#invitation-opening .opening-cheers {
  width: 20%;
}
#invitation-opening .opening-light {
  position: absolute;
  bottom: -100px;
  right: 0;
  width: 270px;
}

ul.tag {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
ul.tag li {
  margin-top: 0.5rem;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  background-color: white;
  border: 2px solid #0E0610;
  border-radius: 25px;
  margin-right: 10px;
  transition: all 300ms;
  font-size: 14px;
}
ul.tag li.basic {
  background-color: #ddd;
  border: none;
}
ul.tag li.active {
  background-color: #0E0610;
  color: white;
}
ul.tag li:last-child {
  margin-right: 0;
}

.venue-maps {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.counting-text {
  padding-top: 40px;
}
.counting-text * {
  letter-spacing: 1px;
}
.counting-text h2 {
  font-size: 32px;
}
.counting-text p {
  font-family: "Roboto", sans-serif;
}
.counting-text .flex {
  margin-top: 2rem;
}
.counting-text .flex * {
  color: white;
}
.counting-text .flex a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  border: 1px solid white;
  width: 55%;
  padding: 12px 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}
.counting-text .flex img {
  width: 20px;
  margin-right: 0.5rem;
}
.counting-text .flex p {
  text-align: center;
}

.tab-container {
  width: 100%;
}

.tabs {
  height: 30px;
  line-height: 30px;
}
.tabs .tab {
  display: inline-block;
  cursor: pointer;
  width: 100px;
  text-align: center;
}
.tabs .active {
  background-color: #efefef;
}

.tab-panes .tab-pane {
  border: 1px solid #333333;
  width: 100%;
  padding: 20px;
  display: none;
}
.tab-panes .active {
  display: block;
}

.user-comments {
  margin-top: 12px;
  padding-top: 16px;
  border-top: 1px solid #ddd;
}
.user-comments .content {
  margin-bottom: 16px;
}
.user-comments .load-more {
  color: #c7c7c7;
  transition: all 300ms;
  margin-bottom: 1rem;
  cursor: pointer;
}
.user-comments .load-more:hover {
  color: #000;
}

.countdown {
  width: 85%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.countdown .day, .countdown .hour, .countdown .min, .countdown .sec {
  color: #FAEFDC;
  width: 150px;
  text-align: center;
}
.countdown .day .num, .countdown .hour .num, .countdown .min .num, .countdown .sec .num {
  display: block;
  font-size: 3.5vw;
  font-weight: 300;
  line-height: 1em;
}
@media (max-width: 768px) {
  .countdown .day .num, .countdown .hour .num, .countdown .min .num, .countdown .sec .num {
    font-size: 10vw;
  }
}
.countdown .day .word, .countdown .hour .word, .countdown .min .word, .countdown .sec .word {
  display: block;
  margin-top: 10px;
  font-size: 1.2vw;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .countdown .day .word, .countdown .hour .word, .countdown .min .word, .countdown .sec .word {
    font-size: 4vw;
  }
}

.performance {
  position: relative;
  padding: 80px 20px 0 20px;
  background-image: url("../img/performance/performance-background.jpg");
  background-position: center;
  background-size: cover;
}
.performance img {
  width: 90%;
  margin: 24px auto 0 auto;
}
.performance-title {
  font-size: 40px;
}
.performance-list {
  padding: 30px 0;
}
.performance-host img {
  width: 45%;
}
.performance h3 {
  font-size: 24px;
  max-width: 300px;
}

/*# sourceMappingURL=main.css.map */
