$font-size: 16;
$qr-wrapper-height: 450px;

$container-width: 380px;
$color-theme: #0E0610;
$color-primary: #F9DE9D;
$color-secondary: #FAEFDC;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

body {
  background-color: $color-theme;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.py-4 {
  margin: 1rem auto;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.form-group {
  margin-bottom: 20px;
}

label {
  padding-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 10px 12px;
}

button {
  border: none;
  padding: 12px 15px;
  cursor: pointer;
  font-weight: 600;
}

.bg-theme {
  background-color: $color-theme;
}

.text-primary {
  color: $color-primary;
}

#template {
  min-height: 100vh;
}

/* Invitation cover */

#invitation-cover {
  text-align: center;
  overflow: hidden;
  position: relative;
  color: white;
  letter-spacing: 1;
  height: 100vh;
  opacity: 1;
  transition: all 2000ms;
  background-size: cover;
  background-position: center;
  padding: 150px 0;

  &.opened {
    height: 0;
  }

  .cover {
    img {
      margin: 0 auto;
    }

    &-logo {
      width: 72%;
    }

    &-guest-box {
      max-width: 90%;
      margin: 56px auto 16px auto;
    }

    &-date {
      max-width: 200px;
    }

    &-target {
      position: absolute;
      overflow: hidden;
      width: 195px;
      top: 405px;
      left: 78px;
      text-align: center;

      @media (max-width: 330px) {
        top: 390px;
        left: 68px;
      }
      
      p {
        font-size: 22px;
        color: $color-primary;
        background: linear-gradient(to right, $color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &-social-media {
      margin-top: 40px;
      width: 70%;
    }

    &-button {
      background: transparent;
      text-align: center;
      color: $color-primary;
      border: 1px solid $color-primary;
      margin: 1rem auto;
      padding: 10px 50px;
    }
  }
}

/* Invitation action */
#invitation-action {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  transition: opacity 300ms;

  &.hide {
    opacity: 0;
    pointer-events: none;
    position: absolute
  }

  .action-container {
    display: flex;
    justify-content: center;
    padding: 0.6rem;
    right: 0;
    bottom: 0;
  }

  .btn-action {
    background-color: $color-secondary;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #ddd;
    font-size: 18px;
    color: $color-theme !important;

    &.lite {
      background: transparent;
    }
  }

  .attendance-wrapper {
    box-shadow: 0px 0px 10px #ddd;
    height: $qr-wrapper-height;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: -$qr-wrapper-height;
    background-color: #fff;
    overflow-x: hidden;
    padding: 1rem 500px;
    transition: 0.5s;

    @media (max-width: 1200px) {
      padding: 1.5rem;
    }

    .attendance-container {
      text-align: left;
      max-width: 768ox;

      * {
        font-family: 'Roboto', sans-serif;
      }
    }

    &.active {
      bottom: 0;
    }

    .btn-close {
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.5);
      transition: all 300ms;
      cursor: pointer;
      &:hover {
        color: #000;
      }
    }

    .info {
      padding-bottom: 20px;
    }

    .check-icon {
      margin-top: 2rem;
      font-size: 50px;
    }

    .btn-submit {
      width: 100%;
    }
  }
}

img.qr-code {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
  #invitation-action {
    .attendance-wrapper {
      .btn-close {
        font-size: 1.5rem;
      }
    }
  }
}

ul.tag {
  margin-top: .5rem;
  li {
    margin-top: .25rem;
    margin-bottom: 1rem;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    background-color: white;
    border: 2px solid $color-theme;
    border-radius: 25px;
    margin-right: 10px;
    transition: all 300ms;
    font-size: 14px;

    &.basic {
      background-color: #ddd;
      border: none;
    }

    &.active {
      background-color: $color-theme;
      color: white;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}